
body{

background-image:url(http://www.51pptmoban.com/d/file/2012/08/30/0f9504d25bcff5f06b076db6e565bc3c.jpg);
background-size:cover;
}
#header{
background-color:black;
opacity: 0.7;
height:95px;
weight:100%;

}



.content{


top:-62px;
position:absolute;

}
#show{

margin:0 auto;
}

.tab-content #home,#bm,#imp,#result,#about  {
background-color:RGB(179,180,188);
border-radius:5px;
height:720px;
width:800px;
padding:20px;
padding-left:30px;
overflow: scroll;

}


#options #p{
color:red;
font-size:18px;
font-weight:600;
}
#options .active{



}
#team_name{
left:30%;

position:absolute;
}
#home figure{

top:30px;
left:60px;
position:relative;
margin-bottom:30px;
}

#bm #f1{
margin-top:30px;
position:relative;
margin-bottom:30px;

}
#bm #f2{
left:240px;
top:-265px;
position:relative;
margin-bottom:30px;

}
#bm #f3{
left:240px;
top:-265px;
position:relative;
margin-bottom:30px;

}

#line1{
background:red;
width:50%;
height:3px;
left:-5px;
margin-bottom:10px;
border-radius:1px;
position:relative;
}

#about,#home,#bm,#imp p{


font-size:30px;
font-family: "Times New Roman", Times, serif;

}

#title{
margin:0 auto 15px;
}
#options .active{
border-radius:7px;

opacity: 0.7;
}
#v1 {
margin-top:20px;
}
#warp{
width:100px;
left:25%;
position:absolute;
}
h1{
left:30px;
position:relative;
}
article {

padding-right:30px;

position:relative;
font-size:16px;
}
footer{
top:710px;


border:1px solid grey; margin-top:5px; padding:20px;
padding-left:40px;

background-color:RGB(179,180,188);
border-radius:5px;
height:70px;
width:800px;
position:relative;
}

#img {
left:20px;
position:relative;

}

#about #u1{
margin-top:30px;
}

#name{
font-size:20px;
}
